{{- define "main" -}}
<div class="wrapper wide list-page">
    <header class="header">
        <h1 class="header-title center">{{ .Title }}</h1>
        {{ with .Params.description }}
        <p class="page-description">{{ . }}</p>
        {{ end }}
    </header>
    <main class="project-list" aria-label="Content">
        <div class="card-grid">
            {{ range .Pages.ByWeight }}
            {{ partial "projectCard.html" . }}
            {{ end }}
        </div>
    </main>
</div>
{{- end -}}
