#animated-link {
    padding: 5px;
    font-size: 1.1em;
    border: 2px solid transparent;
    border-radius: 8px;
    text-decoration: none;
    color: rgb(24, 26, 27); /* dark text for light mode */
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    font-family: monospace; /* Ensures consistent character width */
}

html.dark #animated-link {
    color: rgb(234, 234, 234);
}

#animated-link:hover {
    color: rgb(136, 138, 143); /* Updated hover color to match footer */
    border-color: rgb(136, 138, 143); /* Updated border color on hover */
}

.blinking-cursor {
    animation: blink-animation 1s step-start 0s infinite;
    color: rgb(24, 26, 27); /* dark cursor for light mode */
}

html.dark .blinking-cursor {
    color: rgb(234, 234, 234);
}

#animated-link:hover .blinking-cursor {
    color: rgb(136, 138, 143); /* Updated cursor color on hover */
}

@keyframes blink-animation {
    50% { opacity: 0; }
}
